
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>


<form action="@Url.Action("Login", "Libro")" method="POST">
    <fieldset>
        <div class="form-group">
            <input class="form-control" placeholder="Username" name="Username" type="text" value="@Model.Username">
            @Html.ValidationMessage("Username")
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="Password" name="Password" type="password" value="@Model.Password">
            @Html.ValidationMessage("Password")
        </div>

        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
    </fieldset>
</form>